@font-face {
  font-family: 'proxima_novaregular';
  src: url('/webfont/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('/webfont/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'proxima_novasemibold';
  src: url('/webfont/proxima_nova_semibold-webfont.woff2') format('woff2'),
       url('/webfont/proxima_nova_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
 font-family: 'proxima_novasemibold'!important;
 background-color: #f4f4f4 !important;
}

header {
  background-image: url('../img/hero.jpg');
  background-size: cover;
}
.banner {
  height: 50vw;
}
.dark-nav {
  background-color: black;
}
.dark-nav li { 
  display: inline;
}
.dark-nav a {
  text-decoration: none;
  color: #686868;
}
.nav-brand {
  position: absolute;
  z-index: 1;
}
.nav-content {
  padding-left: 190px;
  padding-top: 8px;
  display:inline-block;
  width:100%;
 
}
.nav-content a {
  font-size: 10px;
  font-weight:700;
}
.right {
  padding-left:23%;
}
.nav-content li {
  padding-left: 20px;
}
.navbar {
  background-color: #fff;
  padding:  0  0 0 170px !important;
}
.navbar a{
  color: black;
  padding: 20px 25px !important;
}
.nav-link {
  border-right: solid 2px whitesmoke;
  font-weight: 700;
}
.icons {
  border-left: solid 2px whitesmoke;
}
.puma-logo {
  border-bottom: solid 2px #ff6600;
  width: 80px;
  height: 70px;
  padding-bottom: 30px;
}
a {
  text-decoration: none !important; 
}
a:hover {
  color: #ff6600;
}

li {
  list-style-type: none;
}

.title {
  color: #fff;
}
.title h1 {
  font-size: 60px;
}
.tag {
  color: #adadad;
}
.btn-2 {
  color: #fff !important;
  border: solid 2px #fff !important;
  border-radius: 0rem !important;
  font-size: .70rem !important;
  padding: 12px 20px !important;
}
.page {
  width: 70px;
}
.main {
  background-color: #fff;
}
.ban {
  position: relative;
  top: -30px;
}
.ban h1 {
  color: #fff;
}
.ban-border h1 {
  position: absolute;
  top: 38px;
  margin-left: 35px;
}
 .ban-border img {
   width: 565px;
 }

.ban-nixon {
  background-color: #ff6600;
}
.ban-air-max {
  background-color: #c3c3c3;
}
.ban-nav {
  position: absolute;
  bottom: 10px;
}
.ban-nav li{
  display: inline;
}
.ban-nav a{
  color: #fff !important;
  font-size: 12px;
}

/* Galery*/
.galery .col-sm-6 {
  padding: 0px;
}
.Layer {
  width: 570px;
  height: 570px;
}
.Layer .row {
  margin: 0px;
}
.layer-mini {
  width: 285px !important;
  height: 285px; 
  align-items: center;
  text-align: center;
  align-self: center;
  background-color: #fff;
}
.layer-mini i {
  font-size: 30px;
  color: #ff6600;
}
.yes {
  height: auto;
  margin: auto;
}
.big {
  max-width: 570px;
  max-height: 570px;
}
h3 {
  font-size: 1.25rem !important;
   
}
.bg-grey {
  background-color: #f4f4f4;
}
.btn-3 {
  color: black !important;
  border: solid 2px #c4c4c4 !important;
  border-radius: 0rem !important;
  font-size: .80rem !important;
  font-weight: 700 !important;
  padding: 16px 60px !important;
}
.p-6 {
  padding: 5rem!important;
}

.brands-logo {
  background-color: #e1e1e1;
  padding-top: 75px;
}
.brands-logo li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.brands-logo i {
  color: #686868;
}
.top {
  position: relative;
  bottom: -30px;
  opacity: .8;
}
.top i {
  position: relative;
  left: 40px;
  top: 5px;
  font-size: 25px;
  color: #fff;
}
footer {
  background-color: black;

}
footer li {
  display: inline;
  padding-right: 10px;
}
footer a {
  color: #adadad;
}
footer i {
  font-size: 20px;
  border: 2px solid #adadad;
  border-radius: 23px;
  padding: 13px;
  width: 48px;
  height: 48px;

}
footer i:hover {
  color: #ff6600;
  border-color: #ff6600;
}

footer hr {
  color: white;
}
footer .f-list a:hover {
  color: #fff;
  font-weight: 700;
  border-bottom:2px solid #ff6600; 
  padding-bottom: 10px;

}
.copyright {
  color: #adadad;
  padding: 30px 60px 150px 30px;
}

    
  