@font-face {
  font-family: 'proxima_novaregular';
  src: url('/webfont/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('/webfont/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('/webfont/proxima_nova_semibold-webfont.woff2') format('woff2'),
       url('/webfont/proxima_nova_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
body {
  overflow-x: hidden;
  font-family: 'proxima_novasemibold';
  background-color: #f4f4f4 !important;
}

header {
  background-image: url('../img/hero.jpg');
  background-size: cover;
}
.banner {
  height: 50vw;
}
.dark-nav {
  background-color: black;
}
.dark-nav li { 
  display: inline;
}
.dark-nav a {
  text-decoration: none;
  color: #686868;
}
.nav-brand {
  position: absolute;
  z-index: 1;
}
.nav-content {
  padding-left: 190px;
  padding-top: 8px;
  display:inline-block;
  width:100%;
 
}
.nav-content a {
  font-size: 10px;
  font-weight:700;
}
.right {
  padding-left:23%;
}
.nav-content li {
  padding-left: 20px;
}
.navbar {
  background-color: #fff;
  padding:  0  0 0 170px !important;
}
.navbar a{
  color: black;
  padding: 20px 25px !important;
}
.nav-link {
  border-right: solid 2px whitesmoke;
  font-weight: 700;
}
.icons {
  border-left: solid 2px whitesmoke;
}
.puma-logo {
  border-bottom: solid 2px #ff6600;
  width: 80px;
  height: 70px;
  padding-bottom: 30px;
}
a {
  text-decoration: none !important; 
}
a:hover {
  color: #ff6600 !important; 
}

li {
  list-style-type: none;
}

.title {
  color: #fff;
}
.title h1 {
  font-size: 60px;
}
.tag {
  color: #adadad;
}
.btn-2 {
  color: #fff !important;
  border: solid 2px #fff !important;
  border-radius: 0rem !important;
  font-size: .70rem !important;
  padding: 12px 20px !important;
}
.page {
  width: 70px;
}
.main {
  background-color: #fff;
}
.bg-grey {
  background-color: #f4f4f4;
}
.ban {
  position: relative;
  top: -30px;
}
.ban h1 {
  color: #fff;
}
.ban-border h1 {
  position: absolute;
  top: 38px;
  margin-left: 35px;
}
 .ban-border img {
   width: 565px;
 }

.ban-nixon {
  background-color: #ff6600;
}
.ban-air-max {
  background-color: #c3c3c3;
}
.ban-nav {
  position: absolute;
  bottom: 10px;
}
.ban-nav li{
  display: inline;
}
.ban-nav a{
  color: #fff !important;
  font-size: 12px;
}

/* Galery*/
h3 {
  font-size: 1.25rem !important;
}
img {
  max-width: 100%;
  height: 100%;
}

.mini {
  align-items: center;
  text-align: center;
  background-color: #fff;
  justify-content: center;
  display: flex;
}
.mini i {
  font-size: 30px;
  color: #ff6600;
}

/*Galery grid*/
.galery {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "zone1 zone2"
    "zone3 zone4"
    "zone5 zone6"
    "zone7 zone8";
}

.zone1 { grid-area: zone1; }

.zone2 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sub2_1 sub2_2"
    "sub2_3 sub2_4";
  grid-area: zone2;
  
}

.sub2_1 { grid-area: sub2_1; }

.sub2_2 { grid-area: sub2_2; }

.sub2_3 { grid-area: sub2_3; }

.sub2_4 { grid-area: sub2_4; }

.zone3 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sub3_1 sub3_2"
    "sub3_3 sb3_4";
  grid-area: zone3;
}

.sub3_1 { grid-area: sub3_1; }

.sub3_2 { grid-area: sub3_2; }

.sub3_3 { grid-area: sub3_3; }

.sub3_4 { grid-area: sb3_4; }

.zone4 { grid-area: zone4; }

.zone5 { grid-area: zone5; }

.zone6 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sub6_1 sub6_2"
    "sub6_3 sub6_4";
  grid-area: zone6;
}

.sub6_1 { grid-area: sub6_1; }

.sub6_2 { grid-area: sub6_2; }

.sub6_3 { grid-area: sub6_3; }

.sub6_4 { grid-area: sub6_4; }

.zone7 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sub7_1 sub7_2"
    "sub7_3 sub7_4";
  grid-area: zone7;
}

.sub7_1 { grid-area: sub7_1; }

.sub7_2 { grid-area: sub7_2; }

.sub7_3 { grid-area: sub7_3; }

.sub7_4 { grid-area: sub7_4; }

.zone8 { grid-area: zone8; }

/*Galery grid end*/

.btn-3 {
  color: black !important;
  border: solid 2px #c4c4c4 !important;
  border-radius: 0rem !important;
  font-size: .80rem !important;
  font-weight: 700 !important;
  padding: 16px 60px !important;
}
.btn-3:hover {
  background-color: #6c757d;
}
.p-6 {
  padding: 5rem!important;
}

.brands-logo {
  background-color: #e1e1e1;
  padding-top: 75px;
}
.brands-logo li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.brands-logo i {
  color: #686868;
}
.last{
  display: none !important;
}
.top {
  position: relative;
  bottom: -30px;
  opacity: .8;
}
.top i {
  position: relative;
  left: 30px;
  top: 5px;
  font-size: 25px;
  color: #fff;
}
.top img{
  position: relative;
  z-index: -2;
  left: calc(-21.88px/2);
}
footer {
  background-color: black;

}
footer li {
  display: inline;
  padding-right: 10px;
}
footer a {
  color: #adadad;
  font-weight: 600;
}
footer i {
  font-size: 20px;
  border: 2px solid #adadad;
  border-radius: 25px;
  padding: 13px;
  width: 48px;
  height: 48px;

}
footer img {
  position: relative;
  top: -40px;
}
footer hr {
  position: relative;
  bottom: -30px;
}
footer i:hover {
  color: #ff6600;
  border-color: #ff6600;
}

footer hr {
  color: white;
}
footer .f-list a:hover {
  color: #fff;
  border-bottom:2px solid #ff6600; 
  padding-bottom: 10px;

}
.copyright {
  color: #adadad;
  padding: 30px 60px 80px 30px;
  font-weight: 600;
}

/* Media Queries for responsive design */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (min-width: 320px) and (max-width: 575.98px){
  

  .btn-3 {
    padding: 0.375rem 0.75rem !important ;
  }
  .brands-logo ul img{
    width: 100px;
    height: 50px;
  }
  .brands-logo ul i {
    display: none;
  }
  

  footer a {
    font-size: .68rem;
    justify-content: center;
  }
  footer img {
    top: 0px;
    width: 170px !important;
    margin-left:auto;
    margin-right: auto;
  }
  footer hr {
    bottom: -15px;
  }
  footer li {
    padding-right: 6px;
  }
  footer i {
    font-size: 12px;
    border: 1px solid #adadad;
    padding: 5px;
    width: 23px;
    height: 23px;
  }
  .copyright {
    padding: 15px 30px 40px 15px;
    font-weight: 400;
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  h3 {
    font-size: .5rem !important;
  }
  .mini i {
    font-size: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  h3 {
    font-size: .9rem !important;
  }
  .mini i {
    font-size: 18px;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  h3 {
    font-size: 1rem !important;
  }
  .mini i {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
    
  